JADE|4
java|blond roast|1.5|0.15|Blond
java|extreme bean|6.99|1.5|Extreme|Milk|Sugar|Sugar|Hazelnut
donut|simpsons|2.99|0.65|Strawberry|Unfilled|true
donut|Fruity pebbles|3.99|0.85|Vanilla|Unfilled|true
customer|John Doe|555-555-5555
customer|Mary Jane|555-555-5555
server|Avery Strong|903-718-1944|555-55-5555
server|Emily Berkes|210-834-8191|555-55-5555
order|0|2|John Doe|Avery Strong|1|extreme bean|2|simpsons
order|1|2|Mary Jane|Emily Berkes|1|blond roast|3|Fruity pebbles
end file|