JADE|4
java|Blond Roast|1.5|0.15|Blond
java|Extreme Bean|6.99|1.5|Extreme|Milk|Sugar|Sugar|Hazelnut
donut|Simpsons|2.99|0.65|Strawberry|Unfilled|true
donut|Fruity Pebbles|3.99|0.85|Vanilla|Unfilled|true
customer|John Doe|555-555-5555
customer|Mary Jane|555-555-5555
server|Avery Strong|903-718-1944|555-55-5555
server|Emily Berkes|555-555-5555|555-55-5555
order|0|3|John Doe|Avery Strong|1|Extreme Bean|2|Fruity Pebbles
order|1|3|Mary Jane|Avery Strong|2|Simpsons|1|Blond Roast
order|2|3|Mary Jane|Emily Berkes|2|Extreme Bean|1|Simpsons|1|Fruity Pebbles
end file|